
<link
href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"
/>

<!--<div>
  <mat-form-field appearance="outline">
      <mat-label>Buscador</mat-label>
      <input matInput placeholder="...">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Busca por nombre, autor o obra</mat-hint>
  </mat-form-field>
</div>-->

<div class="upperBar">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <button mat-fab color="primary">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
</div>

<router-outlet></router-outlet>
