.example-large-box {
  margin: 16px;
  border-radius: 8px;
  padding: 16px;
}

.card {
  margin: 1rem;
}

.histogramButton {
  margin-left: 1rem;
}

.pdfButton {
  margin-left: 1rem;
}

.enterLoginBotton {
  margin-left: 1rem;
}

.search {
  margin-top: 2rem;
  margin-left: 12%;
  width: 75%;
}

.upperBar {
  background-color: mediumslateblue;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.themeImage {
  margin-top: 0.5rem;
  border-radius: 8px;
  width: 100%;
  height: 5rem;
}

.right-button {
  float: right;
  margin-right: 1rem;
}

.element-list {
  padding: 0.5rem;
  background-color: #f1f6fa;
}

.tab {
  background-color: mediumslateblue;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0.5rem;
  margin-left: 0.5rem;
  box-shadow: none;
}

.activeTab {
  background-color: #9ab1fa;
}

.closeTab {
  transform: scale(0.75);
}

.closeTab:hover {
  color: #ffffff;
}

body {
  margin-top: 4rem;
}
