.example-large-box {
  margin: 16px;
  border-radius: 8px;
  padding: 16px;
}

.card {
  margin: 1rem;
}

.histogramButton {
  margin-left: 1rem;
}

.pdfButton {
  margin-left: 1rem;
}

.enterLoginBotton {
  margin-left: 1rem;
}

.search {
  margin-left: 1rem;
}

.upperBar {
  background-color: mediumslateblue;
  margin: 16px;
  border-radius: 8px;
  padding: 0.5rem;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.themeImage {
  margin-top: 0.5rem;
  border-radius: 8px;
  width: 100%;
  height: 5rem;
}
