
<div class="search">
  <mat-form-field appearance="outline">
      <mat-label>Buscador</mat-label>
      <input matInput [(ngModel)]="searchName">
      <mat-icon matSuffix (click)="search(searchName)">search</mat-icon>
  </mat-form-field>
</div>

<div>
  <mat-card class="card" >
    <mat-tab-group dynamicHeight>
      <mat-tab label="Temas">

        <mat-chip-list>
          <mat-chip [routerLink]="['/formTheme']" color="primary" *ngIf="loginService.isLogged">Añadir</mat-chip>
        </mat-chip-list>

        <div *ngFor = "let theme of themes" >
          <mat-card class="card element-list">

            <div *ngIf="loginService.isLogged">

              <button mat-mini-fab color="warn" class="right-button">
                <mat-icon>delete</mat-icon>
              </button>

              <button mat-mini-fab color="primary" class="right-button" [routerLink]="['/formTheme']">
                <mat-icon>border_color</mat-icon>
              </button>

            </div>

            <div *ngIf="loginService.isLogged" style="padding: 0.7rem" [routerLink]="['/theme', theme.id]">{{theme.name}}</div>
            <div *ngIf="!loginService.isLogged" style="padding: 0.7rem">{{theme.name}}</div>

          </mat-card>
        </div>

      </mat-tab>


      <mat-tab label="Citas">

        <mat-chip-list>
          <mat-chip [routerLink]="['/formQuote']" color="primary"  *ngIf="loginService.isLogged" selected>Añadir</mat-chip>
        </mat-chip-list>

        <div *ngFor="let quote of quotes" >
          <mat-card class="card element-list">

            <div *ngIf="loginService.isLogged">

              <button mat-mini-fab color="warn" class="right-button">
                <mat-icon>delete</mat-icon>
              </button>

              <button mat-mini-fab color="primary" class="right-button" [routerLink]="['/formQuote']">
                <mat-icon>border_color</mat-icon>
              </button>

            </div>

            <div *ngIf="loginService.isLogged" style="padding: 0.7rem" [routerLink]="['/quote', quote.id]">{{quote.quote}}</div>
            <div *ngIf="!loginService.isLogged" style="padding: 0.7rem">{{quote.quote}}</div>

          </mat-card>
        </div>

        <button mat-mini-fab color="primary">
          <mat-icon matSuffix (click)="showQuotesByPage(pageQuotes + 1)">more_horiz</mat-icon>
        </button>

        <button mat-mini-fab color="primary">
          <mat-icon matSuffix (click)="loadLess()">keyboard_capslock</mat-icon>
        </button>

      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<div class="histogramButton" style="text-align: center; margin: 1rem;">
  <button [routerLink]="['/histogram']" mat-raised-button color="primary">
    Histograma
    <mat-icon>bar_chart</mat-icon>
  </button>
</div>
