<body>
  <div class="search">
    <mat-form-field
      appearance="outline"
      style="width:100%"
      (keyup.enter)="search(searchName)"
    >
      <mat-label>Buscador</mat-label>
      <input matInput [(ngModel)]="searchName" />
      <mat-icon matSuffix (click)="search(searchName)" style="cursor: pointer"
        >search</mat-icon
      >
    </mat-form-field>
  </div>

  <div>
    <mat-card class="card" style="margin-top: -1rem">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Temas">
          <div *ngFor="let theme of themes">
            <mat-card class="card element-list">
              <div
                *ngIf="loginService.isLogged"
                style="padding: 0.7rem; cursor: pointer;"
                [routerLink]="['/theme', theme.id]"
                (click)="tabService.addTab('theme', theme.id)"
              >
                {{ theme.name }}
              </div>
              <div *ngIf="!loginService.isLogged" style="padding: 0.7rem">
                {{ theme.name }}
              </div>
            </mat-card>
          </div>

          <div style="text-align: center">
            <p *ngIf="themes.length === 0" style="margin: 2rem">
              Ningún resultado
            </p>
          </div>

          <mat-progress-bar *ngIf="spinner"  mode="indeterminate"></mat-progress-bar>

          <div style="margin-top: 2rem; text-align: center">
              <button *ngIf="loadMoreThemes" mat-mini-fab color="primary" style="margin-right: 1rem"
              [matBadge]="remainingThemes"  matBadgeColor="accent">
                  <mat-icon matSuffix (click)="showThemesByPage(pageThemes + 1)">
                    more_horiz
                  </mat-icon>
                </button>

                <button *ngIf="pageThemes !== 0" mat-mini-fab color="primary">
                  <mat-icon matSuffix (click)="loadLessThemes()">
                    keyboard_capslock
                  </mat-icon>
                </button>

            <button
              mat-mini-fab
              color="primary"
              style="margin-left: 1rem"
              *ngIf="loginService.isAdmin"

            >
              <mat-icon (click)="newTheme()">add</mat-icon>
            </button>

          </div>
        </mat-tab>

        <mat-tab label="Citas">
          <div *ngFor="let quote of quotes">
            <mat-card class="card element-list">
              <div
                *ngIf="loginService.isLogged"
                style="padding: 0.7rem; cursor: pointer;"
                [routerLink]="['/quote', quote.id]"
                (click)="tabService.addTab('quote', quote.id)"
              >
                {{ quote.quote }}
              </div>
              <div *ngIf="!loginService.isLogged" style="padding: 0.7rem">
                {{ quote.quote }}
              </div>
            </mat-card>
          </div>

          <div style="text-align: center">
            <p *ngIf="quotes.length === 0" style="margin: 2rem">
              Ningún resultado
            </p>
          </div>

          <div style="margin-top: 2rem; text-align: center">
            <button *ngIf="loadMoreQuotes" mat-mini-fab color="primary" style="margin-right: 1rem"
            [matBadge]="remainingQuotes"  matBadgeColor="accent">
              <mat-icon matSuffix (click)="showQuotesByPage(pageQuotes + 1)">
                more_horiz
              </mat-icon>
            </button>
            <button *ngIf="pageQuotes !== 0" mat-mini-fab color="primary">
              <mat-icon matSuffix (click)="loadLessQuotes()">
                keyboard_capslock
              </mat-icon>
            </button>

            <button
              mat-mini-fab
              color="primary"
              style="margin-left: 1rem"
              *ngIf="loginService.isAdmin"
            >
              <mat-icon (click)="newQuote()" >add</mat-icon>
            </button>

          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  <div class="histogramButton" style="text-align: center; margin: 1rem;">
    <button [routerLink]="['/histogram']" mat-raised-button color="primary">
      Histograma
      <mat-icon>bar_chart</mat-icon>
    </button>
  </div>
</body>
