<body>
  <div class="search">
    <mat-form-field appearance="outline" style="width:100%" (keyup.enter)="search(searchName)">
      <mat-label>Buscador</mat-label>
      <input matInput [(ngModel)]="searchName"/>
      <mat-icon title="Buscar" matSuffix (click)="search(searchName)" style="cursor: pointer">search</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-card class="card" style="margin-top: -0.7rem; padding-bottom: 0">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Temas" style="position: fixed">
            <div *ngFor="let theme of themes" id="themes-list">
              <mat-card class="card element-list">
                <div *ngIf="loginService.isLogged" style="padding: 0.7rem; cursor: pointer;"
                [routerLink]="['/theme', theme.id]" (click)="tabService.addTab('theme', theme.id)">
                  {{ theme.name }}
                </div>
                <div *ngIf="!loginService.isLogged" style="padding: 0.7rem">
                  {{ theme.name }}
                </div>
              </mat-card>
            </div>

          <div style="text-align: center">
            <p *ngIf="themes.length === 0" style="margin: 2rem">
              Ningún resultado
            </p>
          </div>

          <mat-progress-bar *ngIf="spinner" mode="indeterminate"></mat-progress-bar>

          <div style="margin-top: 2rem; text-align: center" class="loadMoreButtons">
            <div class="load">
              <button *ngIf="loadMoreThemes" mat-mini-fab color="primary" style="margin-right: 1rem" [matBadge]="remainingThemes" matBadgeColor="accent" title="Cargar más">
                <mat-icon matSuffix (click)="showMoreThemes()">
                  keyboard_arrow_down
                </mat-icon>
              </button>

              <button *ngIf="pageThemes !== 0" mat-mini-fab color="accent" title="Cargar menos">
                <mat-icon matSuffix (click)="loadLessThemes()">
                  keyboard_arrow_up
                </mat-icon>
              </button>
            </div>

            <button class="right-button" mat-mini-fab color="primary" style="margin-bottom: 1rem" *ngIf="loginService.isAdmin" title="Añadir tema" id="add-theme-button">
              <mat-icon (click)="newTheme()">add</mat-icon>
            </button>
          </div>

        </mat-tab>

        <mat-tab label="Citas">
            <div *ngFor="let quote of quotes">
              <mat-card class="card element-list">
                <div *ngIf="loginService.isLogged" style="padding: 0.7rem; cursor: pointer;"
                [routerLink]="['/quote', quote.id]" (click)="tabService.addTab('quote', quote.id)">
                  {{ quote.quote }}
                </div>
                <div *ngIf="!loginService.isLogged" style="padding: 0.7rem">
                  {{ quote.quote }}
                </div>
              </mat-card>
            </div>

            <div style="text-align: center">
              <p *ngIf="quotes.length === 0" style="margin: 2rem">
                Ningún resultado
              </p>
          </div>

          <mat-progress-bar *ngIf="spinner" mode="indeterminate"></mat-progress-bar>

          <div style="margin-top: 2rem; text-align: center" class="loadMoreButtons">
            <div class="load">
              <button *ngIf="loadMoreQuotes" mat-mini-fab color="primary" style="margin-right: 1rem" [matBadge]="remainingQuotes" matBadgeColor="accent" title="Cargar más">
                <mat-icon matSuffix (click)="showMoreQuotes()">
                  keyboard_arrow_down
                </mat-icon>
              </button>

              <button *ngIf="pageQuotes !== 0" mat-mini-fab color="accent" title="Cargar menos">
                <mat-icon matSuffix (click)="loadLessQuotes()">
                  keyboard_arrow_up
                </mat-icon>
              </button>
            </div>

            <button mat-mini-fab color="primary" class="right-button" style="margin-bottom: 1rem" *ngIf="loginService.isAdmin" title="Añadir cita">
              <mat-icon (click)="newQuote()">add</mat-icon>
            </button>
          </div>

        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  <div class="histogramButton" style="text-align: center; margin: 1rem;">
    <button [routerLink]="['/histogram']" mat-raised-button color="primary">
      Histograma
      <mat-icon>bar_chart</mat-icon>
    </button>
  </div>
</body>
