
<link
href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"
/>

<!--<div>
  <mat-form-field appearance="outline">
      <mat-label>Buscador</mat-label>
      <input matInput placeholder="...">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Busca por nombre, autor o obra</mat-hint>
  </mat-form-field>
</div>-->

<div class="upperBar">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <button mat-fab color="primary">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
</div>

<div>
  <mat-card class="card" >
    <mat-tab-group dynamicHeight>
      <mat-tab label="Temas">
        <div class="example-large-box mat-elevation-z4">
            <mat-card class="card" >
              Referencia cita 1
              <button mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
              </button>
              <mat-card class="card">
                  Cita 1
              </mat-card>
              <mat-card class="card">
                  Autor
              </mat-card>
              <mat-card class="card">
                  Obra
              </mat-card>
            </mat-card>
        </div>

        <div class="example-large-box mat-elevation-z4">
            <section class="example-section">
                <mat-checkbox class="example-margin">Referencia a cita</mat-checkbox>
                <mat-checkbox class="example-margin">Texto</mat-checkbox>
                <mat-chip-list>
                  <mat-chip color="accent" selected>Añadir</mat-chip>
                </mat-chip-list>
            </section>
        </div>

        <div class="example-large-box mat-elevation-z4">
            <mat-card class="card" >
              HTML
            </mat-card>
            <mat-card class="card" >
              <h3>Tema</h3>
              <p>"Cita 1"</p>
              <p>Autor - Obra</p>
            </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
