
<div>
  <mat-card class="card" >
    <mat-tab-group dynamicHeight>
      <mat-tab label="Login">
        <div class="example-large-box mat-elevation-z4">
          <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
            <mat-card class="card">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="username" placeholder="Nombre">
                <mat-hint style="color: red;" *ngIf="submitted && error && !loginForm.controls.username.hasError('required')">{{error.message}}</mat-hint>
              </mat-form-field>
            </mat-card>
            <mat-card class="card">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="password" placeholder="Contraseña">
                <mat-hint style="color: red;" *ngIf="submitted && error && !loginForm.controls.password.hasError('required')">{{error.message}}</mat-hint>
              </mat-form-field>
            </mat-card>
            <div class="enterLoginBotton">
              <button mat-raised-button color="primary">
                Entrar <mat-icon>fingerprint</mat-icon>
              </button>
            </div>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

