
<body>

  <div *ngIf="theme">
    <mat-card class="card" >
      <mat-tab-group dynamicHeight>
        <mat-tab label="Temas">
          <form #themeForm="ngForm">
            <div class="example-large-box mat-elevation-z4" style="text-align: center">
              <mat-form-field class="example-full-width" style="width: 30%">
                <input matInput placeholder="Tema" [(ngModel)]="theme.name" #themeFormElement
                  #themeFormControl="ngModel" name="name" required>
              </mat-form-field>
            </div>
          </form>

          <div  layout="row" style="text-align: center" class="enterLoginBotton">
            <button mat-raised-button class="button" color="primary" (click)="save()" [disabled]="themeForm === undefined || (themeForm && !themeForm.valid)">
              Guardar <mat-icon>save</mat-icon>
            </button>
            <button mat-raised-button class="button" color="accent" (click)="cancel()">Cancelar</button>
          </div>

        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

</body>

