
<div>
  <mat-card class="card" >
    <mat-tab-group dynamicHeight>
      <mat-tab label="Temas">
        <form>
          <div class="example-large-box mat-elevation-z4">
            <mat-card class="card">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Tema">
              </mat-form-field>
            </mat-card>
            <div class="enterLoginBotton">
              <button mat-raised-button color="primary">
                Guardar <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
