
<div>
  <mat-card class="card" >
    <mat-tab-group dynamicHeight>
      <mat-tab label="Temas">
        <div class="example-large-box mat-elevation-z4" *ngFor = "let quote of theme.quotes">
            <mat-card class="card" >
              Referencia cita {{quote.id}}
              <button mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
              </button>
              <mat-card class="card">
                {{quote.quote}}
              </mat-card>
              <mat-card class="card">
                {{quote.author}}
              </mat-card>
              <mat-card class="card">
                {{quote.book}}
              </mat-card>
            </mat-card>
        </div>

        <div class="example-large-box mat-elevation-z4">
            <section class="example-section">
                <mat-checkbox class="example-margin">Referencia a cita</mat-checkbox>
                <mat-checkbox class="example-margin">Texto</mat-checkbox>
                <mat-chip-list>
                  <mat-chip color="accent" selected>Añadir</mat-chip>
                </mat-chip-list>
            </section>
        </div>

        <div class="example-large-box mat-elevation-z4">
            <mat-card class="card" >
              HTML
            </mat-card>
            <mat-card class="card" >
              <h3>{{theme.name}}</h3>
              <div *ngFor = "let quote of theme.quotes">
                <p>"{{quote.quote}}"</p>
                <p>{{quote.author}} - {{quote.book}}</p>
              </div>
            </mat-card>
        </div>

        <button mat-raised-button color="primary" class="pdfButton">
            Generar PDF
            <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
