
<body>

  <div>
    <mat-card class="card" >
      <mat-tab-group dynamicHeight>
        <mat-tab label="Temas">
          <mat-card class="card" >
            <img [src]="image" alt="{{theme.name}}Image" class="themeImage">
            <button mat-mini-fab color="warn" class="right-button-theme" (click)="removeTheme()">
              <mat-icon>delete</mat-icon>
            </button>

            <button *ngIf="edit" mat-mini-fab color="primary" class="right-button-theme" (click)="save()">
              <mat-icon>border_color</mat-icon>
            </button>

            <button *ngIf="!edit" mat-mini-fab color="primary" class="right-button-theme" (click)="editTheme()">
              <mat-icon>border_color</mat-icon>
            </button>

            <button mat-mini-fab color="accent" class="right-button-theme" (click)="fileInput.click()">
              <input #fileInput type="file" [(ngModel)]="newImage" class="inputFileButton" (change)="changeImage(fileInput)">
              <mat-icon>insert_photo</mat-icon>
            </button>

            <h1 style="font-size: 2rem" *ngIf="!edit">{{theme.name}}</h1>

            <form *ngIf="edit" (keyup.enter)="save()">
              <input style="font-size: 2rem; margin-top: 1rem;" type="text" [(ngModel)]="name" name="name" required>
            </form>

          </mat-card>

          <div class="example-large-box mat-elevation-z4" *ngFor = "let quote of theme.quotes">
              <mat-card class="card" >
                Referencia cita {{quote.id}}
                <button mat-mini-fab color="warn" *ngIf="loginService.isAdmin" class="delete" (click)="deleteQuote(quote.id, theme.id)" >
                  <mat-icon>delete</mat-icon>
                </button>
                <mat-card class="card">
                  {{quote.quote}}
                </mat-card>
                <mat-grid-list cols="2" rowHeight="4.5rem" class="authorAndBook">
                  <mat-grid-tile>
                    <mat-card class="card">
                      {{quote.author}}
                    </mat-card>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-card class="card">
                      {{quote.book}}
                    </mat-card>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card>
          </div>

          <div class="example-large-box mat-elevation-z4" *ngIf="loginService.isAdmin">
              <section class="example-section">
                  <mat-checkbox class="example-margin">Referencia a cita</mat-checkbox>
                  <mat-checkbox class="example-margin">Texto</mat-checkbox>
                  <mat-chip-list>
                    <mat-chip color="accent" selected (click)="add()">Añadir</mat-chip>
                  </mat-chip-list>
              </section>
          </div>

          <div class="example-large-box mat-elevation-z4">
              <mat-card class="card" >
                HTML
              </mat-card>
              <mat-card class="card" >
                <h3>{{theme.name}}</h3>
                <div *ngFor = "let quote of theme.quotes">
                  <p>"{{quote.quote}}"</p>
                  <p>{{quote.author}} en {{quote.book}}</p>
                </div>
              </mat-card>
          </div>

          <button mat-raised-button color="primary" class="pdfButton" (click)="getPDF()">
              Generar PDF
              <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

</body>
