html{
    font-size: 1rem;
}

.body{
    background-color: #b6deff;
}

#logButton{
    margin-left: 65%;
}

@media only screen and (min-width: 600px){
    #logButton {margin-left: 80%}
}

.loginCard{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
}

.histogramCard{
    padding-left: 10%;
    padding-right: 10%;
}

.card-theme-text-box{
    margin: 15px;
    border-style: groove;
    padding: 5px;
    height:100pt;
}

.card-theme-others-box{
    margin: 15px;
    border-style: groove;
    padding: 5px;
    width: 45%;
}

.card-theme-html{
    height: 90%;
}

.theme-pdf-button{
    margin: 15px;
}
.BCentrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cita {
    padding: 0rem 1rem 0rem 1rem;
}
