html{
    font-size: 1rem;
}

.body{
    background-color: #b6deff;
}

#borrar{
    margin-left: 1.7rem;
    border-radius: 2rem;
}

#borrar2{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

#logButton{
    margin-left: 67%;
    margin-top: 1.25rem;
}

@media only screen and (min-width: 767px){
    #logButton {
        margin-left: 85%;
        margin-top: 1.25rem;
    }
}

.shortNav{
    width: 66%;
    position: absolute;
}

@media only screen and (min-width: 767px){
    .shortNav{
        width: 85%;
        position: absolute;
    }
}

#selection{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.loginCard{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
}

.histogramCard{
    padding-left: 10%;
    padding-right: 10%;
}

.card-theme-text-box{
    margin: 15px;
    border-style: groove;
    padding: 5px;
    height:auto;
}

.card-theme-others-box{
    margin: 15px;
    border-style: groove;
    padding: 5px;
    width: 45%;
}

.card-theme-html{
    height: 80%;
}

.theme-pdf-button{
    margin: 15px;
}
.BCentrado{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cita {
    padding: 0rem 1rem 0rem 1rem;
}

.clearIcon{
    margin-left: 0.5rem;
}
