  
  <div class="shortNav">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <a href="/" class="tabButton" id="homeTab" role="button">Inicio</a>  
        {{#openTabs}}
          <div class="tabButton">
            <a href="/{{type}}/{{id}}"> {{name}} </a>
            <a href="/close/{{type}}/{{id}}" class="material-icons clearIcon closeTab"> clear </a>
          </div>
        {{/openTabs}}
      </ol>
    </nav>
  </div>

  {{^hideLogin}}
    {{^logged}}
      <a id="logButton" href="/login" class="btn btn-primary btn-bg active"role="button" aria-pressed="true">LogIn</a>
    {{/logged}} {{#logged}}
      <a id="logButton" href="/logout" class="btn btn-primary btn-bg active logout" style="background-color: #6f19be" role="button" aria-pressed="true">LogOut</a>
    {{/logged}}
  {{/hideLogin}}

 