  
  <div class="shortNav">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {{#atHome}}
          <a href="/" class="tabButton" id="activeTab" role="button">Inicio</a>  
        {{/atHome}}
        {{^atHome}}
          <a href="/" class="tabButton" role="button">Inicio</a>  
        {{/atHome}}
        {{#openTabs}}
          {{#active}}
            <div class="tabButton">
              <a href="/{{type}}/{{id}}" id="activeTab"> {{tabName}} {{id}} </a>
              <a href="/close/{{type}}/{{id}}" class="material-icons clearIcon closeTab"> clear </a>
            </div>
          {{/active}}
          {{^active}}
            <div class="tabButton">
              <a href="/{{type}}/{{id}}"> {{tabName}} {{id}} </a>
            </div>
          {{/active}}
        {{/openTabs}}
      </ol>
    </nav>
  </div>

  {{^hideLogin}}
    {{^logged}}
      <a id="logButton" href="/login" class="btn btn-primary btn-bg active" role="button" aria-pressed="true">LogIn</a>
    {{/logged}} {{#logged}}
      <a id="logButton" href="/logout" class="btn btn-primary btn-bg active logout" style="background-color: #6f19be" role="button" aria-pressed="true">LogOut</a>
    {{/logged}}
  {{/hideLogin}} {{#hideLogin}}
    <a id="logButton" href="/login" class="btn btn-primary btn-bg active" role="button" aria-pressed="true" style="visibility: hidden;">LogIn</a>
  {{/hideLogin}} 
 