<!doctype html>
<html>

<head>
  <title>Inicio</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="../assets/css/material-dashboard/material-dashboard.css?v=2.1.1" rel="stylesheet" />
  <link href="../assets/css/other.css" rel="stylesheet" />
</head>

<body class="body">
  
  <div class="shortNav">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
      </ol>
    </nav>
  </div>

  <a id="logButton" href="/login" class="btn btn-primary btn-bg active" role="button" aria-pressed="true">LogIn</a>
    
  <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title">Temas</h4>
              </div>
            </div>
            <div class="card-body">

                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="text" name='nombre' placeholder="Buscar" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="../Temas.html">Buscar</button>
                    </form>
                </nav>
                <div class="row">
                  {{#themes}}
                  <div class="col-md-6">
                      <div class="card">
                        <div class="card-body">
                          <a href="/tema" class="card-title">{{name}}</a>
                          <a id="borrar" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Borrar</a>
                        </div>                       
                      </div>
                    </div>
                  {{/themes}}
                </div>

                <a href="/addTheme" type="button" class="btn btn-primary btn-lg btn-block">Añadir Tema</a>

            </div> 
        </div>
    </div>
  
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
              <div class="card-text">
                <h4 class="card-title">Citas</h4>
              </div>
            </div>
            <div class="card-body">

                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </nav>

                <div class="row">
                  {{#quotes}}
                    <div class="col-md-6">
                        <div class="card">
                          <div class="card-body">
                            <a href="/cita" class="card-title">{{quote}}</a>
                            <a id="borrar" href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Borrar</a>
                          </div>                       
                        </div>
                      </div>
                  {{/quotes}}
                    <!--<div class="col-md-6">
                      <div class="card">
                        <div class="card-body">
                          <a href="/cita" class="card-title">“No hay felicidad o infelicidad en este mundo; 
                            solo hay comparación de un estado con otro. Solo un hombre que ha sentido la máxima desesperación es 
                            capaz de sentir la máxima felicidad. Es necesario haber deseado morir para saber lo bueno que es vivir”</a>
                          <a id="borrar" href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Borrar</a>
                        </div>                       
                      </div>
                    </div>
                  
                    <div class="col-md-6">
                      <div class="card">
                        <div class="card-body">
                          <a href="/cita" class="card-title">"Construiría ante ti una cabaña de sauce y 
                            reclamaría mi alma en tu morada, escribiría sinceros versos de desdeñado amor y los cantaría alto en el 
                            silencio de la noche, gritaría tu nombre al eco de las colinas para que incluso el silencio repitiera 
                            por el espacio el nombre de"</a>
                          <a id="borrar" href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Borrar</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card">
                        <div class="card-body">
                          <a href="/cita" class="card-title">“El hombre no se limita a existir, sino que decide cómo 
                            será su existencia, en qué se convertirá en el minuto siguiente”</a>
                          <a id="borrar" href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Borrar</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card">
                        <div class="card-body">
                          <a href="/cita" class="card-title">“No es el sufrimiento en sí mismo el que hace madurar al hombre, 
                            es el hombre el que da sentido al sufrimiento” </a>
                          <a id="borrar" href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Borrar</a>
                        </div>
                      </div>
                    </div>-->

                    <a href="/addQuote" type="button" class="btn btn-primary btn-lg btn-block">Añadir Cita</a>

                </div>                
            </div>
        </div>
    </div>
  </div>

  <div class="BCentrado">
    <a href="../html/Historiograma.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Histograma</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>