html{
    font-size: 1rem;
}

.body{
    background-color: #b6deff;
}

#borrar{
    align-self: center;
    margin-left: 1rem;
    border-radius: 2rem;
    background-color: #6f19be;
}

#logButton{
    margin-left: 67%;
    margin-top: 1.25rem;
}

@media only screen and (min-width: 767px){
    #logButton {
        margin-left: 85%;
        margin-top: 1.25rem;
    }
}

.shortNav{
    width: 66%;
    position: absolute;
}

@media only screen and (min-width: 767px){
    .shortNav{
        width: 85%;
        position: absolute;
    }
}

#selection{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.loginCard{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
}

.tittleCard{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
}

.histogramCard{
    padding-left: 10%;
    padding-right: 10%;
}

.citasCard{
    padding-left: 30%;
    padding-right: 30%;
}


.card-theme-text-box{
    margin: 15px;
    border-style: groove;
    padding: 5px;
    height:auto;
}

.card-theme-others-box{
    margin: 15px;
    border-style: groove;
    padding: 5px;
    width: 45%;
}

.card-theme-html{
    height: 80%;
}

.theme-pdf-button{
    margin: 15px;
}

.BCentrado{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cita {
    padding: 0rem 1rem 0rem 1rem;
}

.clearIcon{
    margin-left: 0.5rem;
}

.logout{
    background-color: #6f19be;
}

.btGrande{
    margin-left: 1rem;
    margin-right: 1rem;
}

.tabButton {
    position: relative;
    padding: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 0.2rem;
    margin-right: 1rem;
    background-color: #dcefff;
    text-decoration: none;
}

#activeTab {
    font-weight: bold;
}

.closeTab:hover {
    background-color: #6f19be;
    color: #ffffff;
    border-radius: 1rem;
}

.material-icons {
    font-size: 1rem;
}

.searchResults {
    text-align: center;
    margin-top: 3rem;
}

.bt-guardado{
    margin-top: 5rem;
}

.textField{
    width: 99%;
}

.addButton{
    color: #ffffff;
}

.errorImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 25%;
}

.errorMsg{
    text-align: center;
    margin-top: 4rem;
}

#img-theme{
    width: 100%;
    height: 5rem;
}

#edit{
    position: absolute;
    margin-top: -2.55rem;
    margin-left: 50vw;
}

@media only screen and (min-width: 767px){
    #edit{
        margin-top: 0.65rem;
        margin-left: 10vw;
    }
}